.bottom-nav-button {
    -fx-font-size: 1.5em;
    -fx-padding: 0.3em 1em 0.3em 1em;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: -fx-mainButtonBackgroundColor;
    -fx-background-radius: 20px;
    -fx-effect: DropShadow(gaussian, -fx-mainButtonShadowColor, 10, 0.5, 0, 5);
    -fx-text-fill: -fx-mainButtonTextColor;
}

.bottom-nav-button:hover {
    -fx-background-color: -fx-mainButtonHovorColor;
}

.bottom-nav-button:pressed {
    -fx-translate-y: 3;
    -fx-effect: DropShadow(gaussian, -fx-mainButtonShadowColor, 1, 1, 0, 2);
}

.bottom-nav {
    -fx-background-color: -fx-backgroundColor;
    -fx-border-color: -fx-taskBorderColor;
}

.select-table {
    -fx-pref-height: 80%;
}

.select-table .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.root-pane {
    -fx-background-color: -fx-backgroundColor;
}

.root-pane Label {
    -fx-text-fill: -fx-globalFontColor;
}

.select-table .table-cell {
    -fx-text-fill: -fx-globalFontColor;
}

.select-table .table-cell:odd {
    -fx-background-color: -fx-backgroundColor;
}

.select-table .table-cell:even {
    -fx-background-color: -fx-textAreaBackgroundColor;
}

.select-table .column-header {
    -fx-background-color: linear-gradient(to bottom, -fx-tableViewFirstGradient, -fx-tableViewSecondGradient);;
}

.select-table .column-header .label {
    -fx-text-fill: -fx-globalFontColor;
}

.select-table .table-row-cell:selected .table-cell {
    -fx-background-color: -fx-selectColor;
}

.dialog-pane {
    -fx-background-color: -fx-backgroundColor;
}

.dialog-pane .label {
    -fx-text-fill: -fx-globalFontColor;
}

.dialog-pane .text-field {
    -fx-background-color: -fx-textAreaBackgroundColor;
    -fx-text-fill: -fx-globalFontColor;
    -fx-border-color: -fx-taskBorderColor;
}

.dialog-pane .button {
    -fx-font-size: 1.5em;
    -fx-padding: 0.3em 1em 0.3em 1em;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: -fx-mainButtonBackgroundColor;
    -fx-background-radius: 20px;
    -fx-effect: DropShadow(gaussian, -fx-mainButtonShadowColor, 10, 0.5, 0, 5);
    -fx-text-fill: -fx-mainButtonTextColor;
}

.dialog-pane .button:hover {
    -fx-background-color: -fx-mainButtonHovorColor;
}

.dialog-pane .button:pressed {
    -fx-translate-y: 3;
    -fx-effect: DropShadow(gaussian, -fx-mainButtonShadowColor, 1, 1, 0, 2);
}

.dialog-pane .header-panel {
    -fx-background-color: -fx-backgroundColor;
    -fx-border-color: -fx-taskBorderColor;
    -fx-border-style: hidden hidden solid hidden;
}

.slider-settings .thumb {
    -fx-pref-height: 20px;
    -fx-pref-width: 10px;
}

.slider-settings .axis {
    -fx-tick-label-fill: -fx-globalFontColor;
}

.bottom-progress-indicator {
    -fx-max-height: 2em;
    -fx-max-width: 2em;
}