body {
    padding-left: 10%;
    padding-right: 10%;
}
* {
    padding-left: 10px;
    padding-right: 15px;
    margin: 0;
}

.section{
    padding: 10px;
}

.text{
    text-align: justify;
    padding: 15px;
    font-size: 1.5em;
    font-family: 'Optima', cursive;
}

.task{
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    text-align: justify;
    font-size: 1.2em;
    font-family: 'Optima', cursive;
    border-style: double;
    border-color: #cccccc;
    background-color: #D3D3D3;
    border-width: 2px;
    border-radius: 7px;
}

.information{
    width: 100%;
    background-color: #ffe4b5;
    border-style: solid;
    border-color: darkgreen;
    border-width: 2px;
    border-radius: 7px;
    padding: 5px;
}

.reading{
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #D3D3D3;
}
.reading:hover {background-color: #45a049}

.reading:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.submit:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}

.tim{
    height: 300px;

}

.eye-small{
    height: 100px;
}

#text_forest{
    background-image: url("../testImages/Wald.png");
}

.wrap-figure {
    float: right;
}

.wrap-text {
    display: flex;
}
.chapter{

}
