.callibration-point {
    background-color: red;
}

.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(139, 139, 139);
    z-index: 2;
}

.circles {
    display: none;
    margin: 0;
    padding: 0;
}

.callibration-circle {
    width: 1.5vw !important;
    height: 1.5vw !important;
    position: absolute !important;
    background: red;
    display: flex !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    align-items: center !important;
    justify-content: center !important;
    -moz-border-radius: 50px !important ;
    -webkit-border-radius: 50px !important;
    border-radius: 50px !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: black !important;
    cursor: pointer !important;
}

.cross {
    font-weight: bold !important;
    font-size: 1.5vw !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer !important  ;

}

#callibration-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(139, 139, 139);
    z-index: 4;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.loading-symbol {
    width: 1.5vw;
    height: 1.5vw;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 0 !important;
    /*background: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    animation: rotation 1s infinite linear;
}

.help-button {
    background-color: var(--helpButtonBackgroundColor) !important;
    position: absolute;
    right: 5%;
    display: none;
}

.help-button:hover {
    background-color: var(--helpButtonBackgroundColor) !important;
    filter: brightness(85%);
}

.help-bubble {
    position: absolute;
    background: var(--helpSectionBackgroundCOlor);
    border-radius: .4em;
    display: none;
    width: 9vw;
    overflow: auto;
    word-break: break-word;
    font-family: var(--textFontFamily);
}

/* width */
::-webkit-scrollbar {
    width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}