body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--backgroundColor);
    color: var(--globalFontColor);
}

* {
    padding-left: 10px;
    padding-right: 15px;
    margin: 0;
}

:root {
    --tim-img-height: 250px;
}

.section {
    padding: 10px;
}

.text {
    text-align: inherit;
    padding: 15px;
    font-size: var(--textFontSize);
    font-family: var(--textFontFamily);
}

.text-box {
    max-width: 400px;
    max-height: 25px;
}

.task {
    width: 98%;
    padding: 10px;
    text-align: justify;
    font-size: var(--taskFontSize);
    font-family: var(--textFontFamily);
    border-style: double;
    border-color: var(--taskBorderColor);
    background-color: var(--taskBackgroundColor);
    border-width: 2px;
    border-radius: 7px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--textAreaBorderColor);
    border-radius: 4px;
    background-color: var(--textAreaBackgroundColor);
    font-size: var(--textAreaFontSize);
    resize: none;
}

.information {
    width: 100%;
    background-color: var(--informationBackgroundColor);
    border-style: solid;
    border-color: var(--informationBorderColor);
    border-width: 2px;
    border-radius: 7px;
    padding: 5px;
}

.reading {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    font-size: var(--readingFontSize);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--mainButtonTextColor);
    background-color: var(--mainButtonBackgroundColor);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px var(--mainButtonShadowColor);
}

.reading:hover {
    background-color: var(--mainButtonHovorColor)
}

.reading:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    font-size: var(--saveFontSize);
    background-color: var(--mainButtonBackgroundColor);
    color: var(--mainButtonTextColor);
    padding: 14px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--mainButtonHovorColor);
}

.submit:active {
    transform: translateY(2px);
}

.text-tim {
    margin-top: calc(var(--tim-img-height) / 2);
    margin-bottom: calc(var(--tim-img-height) / 2.8);
    text-align: justify;
    font-size: var(--textFontSize);
    font-family: 'Optima', cursive;
}

.tim {
    height: var(--tim-img-height);
}

.eye-small {
    height: 100px;
}

.forest {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

.forest-text {
    text-align: center;
    margin-top: -14px;
    font-size: var(--textFontSize);
    font-family: 'Optima', cursive;
}

.light-bulb {
    margin-top: 10px;
}

#text_forest {
    background-image: url("../testImages/Wald.png");
}

.wrap-figure {
    float: left;
}

.wrap-text {
    display: flex;
}

.table-bottom {
    height: 10vh;
    vertical-align: bottom;
}

.chapter {
}

/*region Make Sections Visible...*/


/*.section {*/
/*    border-color: darkred;*/
/*    border-style: dashed;*/
/*    border-width: 2px;*/
/*}*/

/*table {*/
/*    border-collapse: collapse*/
/*}*/

/*endregion*/

.diashow {
    float: right;
    width: 650px;
    height: 380px;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.watermark {
    background-image: url("../testImages/Auge_Watermark.png");
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: inherit;
    background-size: 500px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.nav-button {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px;
    font-size: var(--navButtonFontSize);

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--mainButtonTextColor);
    background-color: var(--mainButtonBackgroundColor);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px var(--mainButtonShadowColor);
}

.nav-button:hover {
    background-color: var(--mainButtonHovorColor)
}

.nav-button:active {
    box-shadow: 0 3px var(--mainButtonShadowColor);
    transform: translateY(2px);;
}

.preamble {
    position: absolute;
    left: 0;
    width: 98vw;
    height: 100%;
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.draggable-card {
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dragableCardBackgroundColor);
    color: var(--mainButtonTextColor);
    display: inline-block;
    margin: 1px 1px 1px 1px;
    border-radius: 5px;
    font-size: var(--dragableCardFontSize);
    align-content: center;
    padding: .5% .5% .5% .5%;
}

.drop-field {
    float: left;
    align-content: center;
    font-size: var(--dragableFieldFontSize);
    width: 200px;
    height: 45px;
    padding: 8px;
    border: 1px solid #aaaaaa;
}

.drop-start {
    float: right;
    min-width: 165px;
    height: 45px;
    padding: 8px;
    margin: 5px;
    border: 1px solid #aaaaaa;
}

#drop-1 {
    position: relative;
    left: 105px;
    top: 110px;
}

#drop-2 {
    position: relative;
    left: 530px;
    top: -25px;
}

#drop-3 {
    position: relative;
    left: 310px;
    top: 148px;
}

.task-image {
    /*margin: auto;*/
    /*display: block;*/
    text-align: center;
    width: 1078px;
    height: 231px;
    padding: 50px;
    background-image: url("../testImages/Auge_Gross.png");
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: inherit;
    background-size: 1080px;
}

.task-icon {
    max-height: 5vh;
    max-width: 5vw;
}

.arrow-icon {
    height: 2vh;
    width: 12vw;
}

#chapter-select {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 8vw !important;
    border-right: solid black;
    text-align: center;
    font-size: var(--chapterSelectFontSize);
    padding: 2vh;
}

#chapter-select a:link {
    color: var(--chapterSelectFontColor);
    text-decoration: none;
}

#chapter-select a:visited {
    color: var(--chapterSelectFontColor);
    text-decoration: none;
}

#chapter-select a:hover {
    color: var(--chapterSelectFontColor);
    text-decoration: none;
}

#chapter-select a:active {
    color: var(--chapterSelectFontColor);
    text-decoration: none;
}

.chapter h1 {
    padding-top: 20vh;
}

.dropdown {
    position: relative;
    width: 440px;
    height: 30px;
    left: 340px;
}

#dropdown-1 {
    transform: rotate(7deg);
    top: 145px;
}

#dropdown-2 {
    transform: rotate(-7deg);
    top: 270px;
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before {
    top: 20px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .options {
    position: absolute;
    top: 50px;
    width: 50%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #0066cc;
    color: #fff;
}

.tim-flashlight {
    float: left;
    height: 350px;
    margin-top: 50px;
    margin-left: 80px;
}

.door {
    float: right;
    height: 250px;
    margin-top: 60px;
    margin-right: 110px;
}

.task-img {
    height: 450px;
}

.demo-video {
    position: absolute;
    float: left;
    margin: 100px 0 0 12px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--mainButtonBackgroundColor);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px var(--mainButtonShadowColor);
}

.demo-video:hover {
    background-color: var(--mainButtonHovorColor)
}

.demo-video:active {
    box-shadow: 0 3px var(--mainButtonShadowColor);
    transform: translateY(2px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close {
    position: absolute;
    color: #000;
    font-size: 38px;
    font-weight: bold;
    top: 100px;
    right: 310px;
}

.close:hover,
.close:focus {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
    cursor: pointer;
}

.video {
    display: block;
    width: 60%;
    height: 60%;
    margin-right: auto;
    margin-left: auto;
}